<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="com.nonobank.apps.listener.TestngListener" /> 
		<listener class-name="org.testng.reporters.FailedReporter" /> 
		<listener class-name="com.nonobank.apps.listener.TestngRetryListener" /> 
	</listeners>
 	<test name="registerLogin">
		<classes>
			<!-- 登录 -->
			<class name="com.nonobank.apps.testcase.nonobankge.registerLogin.Login"></class>  
			<!-- 登录异常 -->
			<class name="com.nonobank.apps.testcase.nonobankge.registerLogin.LoginExc"></class>  
			<!-- 注册 -->
			<class name="com.nonobank.apps.testcase.nonobankge.registerLogin.Register"></class> 
			<!-- 注册异常 -->
			<class name="com.nonobank.apps.testcase.nonobankge.registerLogin.RegisterExc"></class> 
		</classes>
	</test> 
	<test name="realName">
		<classes>
			<!-- 实名认证 -->
			<class name="com.nonobank.apps.testcase.nonobankge.realName.RealName"></class>   
			<!-- 实名认证异常 -->
			<class name="com.nonobank.apps.testcase.nonobankge.realName.RealNameExc"></class> 
		</classes>
	</test> 
	<test name="payPassword">
		<classes>
			<!-- 设置支付密码 -->
			<class name="com.nonobank.apps.testcase.nonobankge.payPassword.SettingPayPassword"></class>   
			<!-- 设置支付密码异常 -->
			<class name="com.nonobank.apps.testcase.nonobankge.payPassword.SettingPayPwdExc"></class>  
			<!-- 找回支付密码 -->
			<class name="com.nonobank.apps.testcase.nonobankge.payPassword.FindPayPwd"></class>  
			<!-- 找回支付密码异常 -->
			<class name="com.nonobank.apps.testcase.nonobankge.payPassword.FindPayPwdExc"></class> 
			<!-- 修改支付密码 -->
			<class name="com.nonobank.apps.testcase.nonobankge.payPassword.ModifyPayPwd"></class> 
			<!-- 修改支付密码异常 -->
			<class name="com.nonobank.apps.testcase.nonobankge.payPassword.ModifyPayPwdExc"></class> 
		</classes>
	</test> 
	<test name="modifyMobile">
		<classes>
			<!-- 修改手机号码 -->
			<class name="com.nonobank.apps.testcase.nonobankge.modifyMobile.ModifyMobile"></class>   
			<!-- 修改手机号码（已实名）-->
			<class name="com.nonobank.apps.testcase.nonobankge.modifyMobile.ModifyMobileByRealName"></class> 
			<!-- 修改手机号码异常-->
			<class name="com.nonobank.apps.testcase.nonobankge.modifyMobile.ModifyMobileExc"></class> 
		</classes>
	</test> 
	<test name="modifyLoginPassword">
		<classes>
			<!-- 修改登录密码 -->
			<class name="com.nonobank.apps.testcase.nonobankge.modifyLoginPassword.ModifyLoginPassword"></class>   
			<!-- 修改登录密码（已实名） -->
			<class name="com.nonobank.apps.testcase.nonobankge.modifyLoginPassword.ModifyLoginPwdByRealName"></class>
			<!-- 修改登录密码（异常） -->
			<class name="com.nonobank.apps.testcase.nonobankge.modifyLoginPassword.ModifyLoginPwdExc"></class>
		</classes>
	</test> 
	<test name="bankCard">
		<classes>
			<!-- 绑卡 -->
			<class name="com.nonobank.apps.testcase.nonobankge.bankCard.BankCard"></class> 
			<!-- 先实名后绑卡 -->
			<class name="com.nonobank.apps.testcase.nonobankge.bankCard.BankCardFirstRealName"></class>  
			<!-- 绑卡（异常） -->
			<class name="com.nonobank.apps.testcase.nonobankge.bankCard.BankCardExc"></class>  
		</classes>
	</test> 
	<test name="invest">
		<classes>
			<!-- 投资 -->
			<class name="com.nonobank.apps.testcase.nonobankge.invest.Invest"></class>   
		</classes>
	</test>  
	<test name="recharge">
		<classes>
			<!-- 充值 -->
			<class name="com.nonobank.apps.testcase.nonobankge.recharge.Recharge"></class>  
			<!-- 充值(异常) -->
			<class name="com.nonobank.apps.testcase.nonobankge.recharge.RechargeExc"></class> 
			<!-- 先绑卡后充值 -->
			<class name="com.nonobank.apps.testcase.nonobankge.recharge.RechargeFirstBankCard"></class>  
			<!-- 先设置支付密码后充值 -->
			<class name="com.nonobank.apps.testcase.nonobankge.recharge.RechargeFirstPayPwd"></class>  
		</classes>
	</test> 
	<test name="withdraw">
		<classes>
			<!-- 提现 -->
			<class name="com.nonobank.apps.testcase.nonobankge.withdraw.Withdraw"></class>   
			<!-- 提现(异常) -->
			<class name="com.nonobank.apps.testcase.nonobankge.withdraw.WithdrawExc"></class>   
		</classes>
	</test> 

</suite> 
