<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="com.nonobank.apps.listener.TestngListener" /> 
		<listener class-name="org.testng.reporters.FailedReporter" /> 
		<listener class-name="com.nonobank.apps.listener.TestngRetryListener" /> 
	</listeners>
 	<test name="registerLogin">
		<classes>
			<class name="com.nonobank.apps.testcase.nonobankge.registerLogin.Login"></class>  
			<class name="com.nonobank.apps.testcase.nonobankge.registerLogin.Register"></class> 
		</classes>
	</test> 
	<test name="realName">
		<classes>
			<class name="com.nonobank.apps.testcase.nonobankge.realName.RealName"></class>   
		</classes>
	</test> 
	<test name="payPassword">
		<classes>
			<class name="com.nonobank.apps.testcase.nonobankge.payPassword.settingPayPassword"></class>   
		</classes>
	</test> 
	<test name="modifyMobile">
		<classes>
			<class name="com.nonobank.apps.testcase.nonobankge.modifyMobile.modifyMobile"></class>   
		</classes>
	</test> 
	<test name="modifyLoginPassword">
		<classes>
			<class name="com.nonobank.apps.testcase.nonobankge.modifyLoginPassword.modifyLoginPassword"></class>   
		</classes>
	</test> 
	<test name="bankCard">
		<classes>
			<class name="com.nonobank.apps.testcase.nonobankge.bankCard.BankCard"></class>   
		</classes>
	</test> 
	 

</suite> 
